<div class="menu">
    <img class="small-logo" src="../img/logo-white.jpg" alt="">
    <ul>
        <li class="listHome"><a href="/books">HOME</a></li>
        <li><a href="/books/add">ADD BOOK</a></li>
        <li><a href="/logout">LOGOUT</a></li>
    </ul>
</div>