{{>header }}
<div class="dead-center">
    <div class="animated zoomIn bg">
        <h2>Your request has been sent. The current book owner will get back to you with further details.</h2>

    </div>
</div>
{{>footer }}