<div class="dead-center index-page">
    <div class="bg">
        <div class="img-logo">
            <img src="./img/logo2.png">
        </div>
        <div class="login">
            <a href="login">LOGIN</a>  <a href="signup">SIGN-UP</a>
        </div>
    </div>
</div>