<div class="dead-center index-page">
    <div class="bg">
    <form action="/signup" method="POST" id="form">
        <h1>SIGN-UP</h1>
        First name:<br>
        <input class="form-input" type="text" name="name"><br>
        Last name:<br>
        <input class="form-input" type="text" name="lastname"><br>
        Email:<br>
        <input class="form-input" type="email" name="email"><br>
        Password:<br>
        <input class="form-input" type="password" name="password"><br>
        <div class="center-align"><button type="submit">Submit</button></div>
    </form>
    </div>
</div>