body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size:18px;
  color:#FFFFFF;
}

h5 {
  padding: 0;
  margin: 0;
}

p {
  margin:5px;
  padding:0;
}

.details {
  margin: 20px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.full-column {
  display: flex;
  /* flex-direction: column */
}

.full-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: rgba(72,72,70,0.6);
  border-radius: 15px;
  padding:20px;
}

.bg img {
  border-radius:10px;
}

.index-page {
  background: url("../img/bg.jpg");
  background-size: cover;
}

.img-logo {
  margin-bottom:30px;
}

.login a {
  color: #1d1d1d;
  text-decoration: none;
  border: 1px solid #1d1d1d;
  padding: 10px;
}

.login a:hover {
  background-color: #2996d7;
  color: #ffffff;
  border: 1px solid #3d3d3d;
  text-decoration: none;
  padding: 10px;
  transition: ease-in 0.4s;
}

.dead-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.item-wrapper-outside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-wrapper-inside {
  display: flex;
  background: rgba(72,72,70,0.6);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #a0a0a0;
  border-radius: 10px;
  padding:20px;
  margin: 20px;
  width: 240px;
  height: 450px;
}

/* INPUT */

input {
  color:#484846;
  border:none;
  padding:15px;
  font-size:19px;
}

input:focus {
  background:#7b8fa0;
  border:none;
  padding:15px;
}
/* BUTTONS */

button {
  color:#FFFFFF;
  padding:10px 15px;
  border:none;
  outline:none;
  font-size:18px;
  background:#144670;
  margin-top:5px;
  border-radius:10px;
  cursor: pointer;
}

button:hover {
  background:#3d5569;
  cursor: pointer;
}

.swap-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(241, 158, 48);
}

.edit-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(78, 108, 136);
}

.remove-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(121, 41, 41);
}

img {
  width: 200px;
}

.menu {
  color: #FFFFFF;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #144670;
  height: 125px;
  padding: 20px 10px;
  font-size:20px;
}

ul {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

li {
  padding-right: 8px;
}

footer {
  color: #FFFFFF;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #144670;
  height: 50px;
  padding: 20px 10px;
  text-transform: uppercase;
}

/* HEADER MENU */

.menu li {
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
}

.menu li:hover {
  background:#FFFFFF;
}

.menu a {
  color: #FFF;
  text-decoration: none;
}

.menu a:hover {
  color: #003044;
}

/* FOOTER MENU */

footer li {
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
}

footer li:hover {
  background:#FFFFFF;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

footer a:hover {
  color: #003044;
}

.small-logo {
  border:10px solid #FFFFFF;
  margin-right:20px;
  border-radius:10px;
  width:100px;
}