body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin:0;
  padding:0;
}

h5 {
  padding:0;
  margin:0;
}

.details {
  margin:20px;
}

.site {
  display:flex;
  min-height:100vh;
  flex-direction: column;
}

.full-column {
  display: flex;
  /* flex-direction: column */
}

.full-row {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.dead-center {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}

.item-wrapper-outside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-wrapper-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #a0a0a0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 220px;
  height: 450px;
}

/* BUTTONS */

.swap-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(241, 158, 48);
}

.edit-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(78, 108, 136);
}

.remove-button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(121, 41, 41);
}

img {
  width: 200px;
}

.menu {
  color:#FFFFFF;
  display:flex;
  justify-content: left;
  align-items: center;
  background-color:#0A2C42;
  height:50px;
  padding:20px 10px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding-right:8px;
}

footer {
  color:#FFFFFF;
  display:flex;
  justify-content: left;
  align-items: center;
  background-color:#0A2C42;
  height:50px;
  padding:20px 10px;
  text-transform: uppercase;
}

footer a {
  color:#FFF;
  text-decoration: none;
}

footer li {
  border:1px solid #FFFFFF;
  border-radius:3px;
  padding:5px;
  margin:2px;
}

.menu li {
  border:1px solid #FFFFFF;
  border-radius:3px;
  padding:5px;
  margin:2px;
}

.menu a {
  color:#FFF;
  text-decoration: none;
}